@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

:root {
--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
--Dark-blue-photography-text: hsl(198, 62%, 26%);
--Dark-moderate-cyan-footer: hsl(168, 34%, 41%);
--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
--barlow: 'Barlow', sans-serif;
--fraunces: 'Fraunces', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    font-size: 18px;
}

.section-one {
    background-image: url(images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    width: 100%;
}

.nav-header {
 display: flex;
 justify-content: space-between;
 padding: 30px 20px 0px 20px;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-content p {
    font-size: 40px;
    width: 10ch;
    text-align: center;
    font-family: var(--fraunces);
    font-weight: 900;
    color: var(--White);
    text-transform: uppercase;
    margin: 100px 0px 50px;
    letter-spacing: 5px;
}

.intro-content img {
    width: 35px;
}